body{
    background-image:url('../img/background.jpg');
}

#menu{
    background-color: aliceblue;
    box-shadow:  0 0 10px #000000;
    height: 8em;
    width: 100%;
}

#tv-container{
    display: flex;
    justify-content: center;
    
    
}

.container-fluid img{
    margin: auto;
    width: 50%;
    height: 60%;
} 

.tv{
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url('../img/static.jpg');
    background-size: cover;
}
#consola img{
    width: 30%;
    height: 40%;
}

.container-fluid img:hover{
    cursor: pointer;
    box-shadow:  0 0 10px #000000;
}